.App {
  text-align: center;
}

.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .App-button {
  border: none;
  border-radius: .25rem;
  background-color: white;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1rem;
  color: grey;
}

:hover .App-button {
  background-color:darkkhaki;
  
} */

.App-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.App-button:hover {background-color: #3e8e41}

.App-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}